<h2>{{config.title}}</h2>

<form action="{{config.action}}" method="POST">
  <input type="text" name="name" placeholder="Name" value="{{product.name}}">
  <input type="text" name="description" placeholder="Description" value="{{product.description}}">
  <input type="number" name="price" value="{{product.price}}">
  <input type="text" name="photoURL" placeholder="image" value="{{product.photoURL}}">
  <input type="submit" value="{{config.button}}">
</form>