<h2>{{place.name}}</h2>
<p>{{place.description}}</p>
<div id='map'></div>
<p>By {{place.author.name}}</p>
<a href="/">Go back</a>

<script>
  console.log({{ coordinates }})
  mapboxgl.accessToken = 'pk.eyJ1IjoiZGl1cml2aiIsImEiOiJjanAxdjA2cTQwMGp1M2tvYzZmZGp3bWc3In0.4cZEyLkU2ikqx_wb4A1z8A';
  const map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [{{ coordinates }}],
    zoom: 15
  });

  const marker = new mapboxgl.Marker({ color: 'red' })
  marker.setLngLat([{{ coordinates }}]).setPopup(new mapboxgl.Popup().setHTML(`<span>{{place.name}}</span>`)).addTo(map)
</script>